[submodule "snippets"]
        path = snippets
        url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "yasmate"]
        path = yasmate
        url = https://github.com/capitaomorte/yasmate.git
